<div id="projects" class="projects">

  <!--
  <div class="scroll">
    <a href="#aboutme">
      <i class="fas fa-arrow-up"></i>
    </a>
  </div>
  -->

  <h1 class="heading">Projekte</h1>
  <ul class="project-list">
    <li class="project-item">
        <h1><a href="https://github.com/CaarLo1337/Todo-REST-API">ToDo REST API</a></h1>
        <img class="project-image" src="/assets/images/rest-api.png" alt="">
        <p>
          Simple REST-API mit NodeJS, Express und MongoDB zum
          erstellen, speichern und bearbeiten von ToDo's.
        </p>
    </li>
    <li class="project-item">
      <h1><a href="#">Portfolio</a></h1>
      <img class="project-image" src="/assets/images/portfolio.png" alt="portfolio">
      <p>
        Portfolio mit Angular
      </p>
    </li>
  </ul>
</div>

