<div id="contact" class="contact">
  <h1 class="heading">Kontakt</h1>

  <form action="https://formspree.io/f/xayalobl" method="POST">
    <label class="label-email">E-Mail: </label>
    <input type="email" name="_replyto">
    <label>Name: </label>
    <input type="name" name="_name">
    <label>Nachricht:</label>
    <textarea name="message"></textarea>
    <button type="submit">Senden</button>
  </form>

  <div class="social">
    <a href="https://www.linkedin.com/in/carlo-beck-1680381a8/">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/CaarLo1337">
      <i class="fab fa-github"></i>
    </a>
  </div>
</div>
